.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}

.react-tagsinput--focused {
  border: 2px solid #2196F3;
}

.react-tagsinput-tag {
  background-color: #EEEEEE;
  border-radius: 2px;
  border: 2px solid #3EA3F4;
  color: #1F1F1F;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #1F1F1F;
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 150px;
}
